.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;

	@mixin atSmall {
		font-size: 3.75rem;
	}

		strong {
			font-weight: 500;
		}

	&__icon {
		
		display: block;						/*Icon+Text als Block, aber unter einander*/
		margin-left: auto;					/*Abstand links und rechts gleich, also zentriert*/
		margin-right: auto;
		margin-bottom: 0.6rem;

		@mixin atSmall {
			margin-right: .5rem;			/*Abstand zum Text*/
			margin-left: 0;					/*Icon auf der linken Seite*/
			margin-bottom: -10px;
			display: inline-block;  		/*Icon+Text in einem Block auf einer Linie*/
		}
	}

	&--blue {
		color: $mainBlue;
	}
}